body {
	background: url('../image/bg.jpg') repeat;
    font: 100%/1.25 Verdana, Helvetica, sans-serif ;
  
}
#wrapper {
	max-width: 920px;
	margin: 0 auto;
	padding: 0 15px 0 15px;
}
header {
	width: 920px;
	height: 300px;
	background: url('../image/header-bg.jpg') no-repeat center;
	padding-bottom: 20px;
	border-bottom: 3px dotted #FAFAF5;
	margin-bottom: 50px;
}

h1 {
	text-indent: 100%;
	white-space: nowrap;
	width: 300 px;
	height: 300px;
	overflow: hidden;
	display: block;
	background: url(../image/TheZorglogo.png) no-repeat center;
}

h1 a{
	display: block;
	height: 400px;
}

.content {
	width: 920 px;
	margin: 0 auto;
	color:#FAFAFA;
}
h2{
	float:left;
}
.audio p{
	color: #70E617;
	float:left;
	width: 600px;
}

strong{
	color: #FAFAFA;
}
video {
	float: left;
	
}

footer{

}
